<div class="product-images-block">
  <div class="main-image-container desktop" id="gallery">
      
    <div class="product-main-photo-block desktop-product-img">
    {% for image in product.images %}
      
          {% assign has_video = 0 %}
          {% if image.alt contains 'youtube' %}
            <a id="js-featured-image" href="{{ image.alt}}" class="slider-video">  
            <iframe id="ytplayer" class="zoom-video" type="text/html" width="100%" height="500"
            src="{{image.alt}}?autoplay=1&origin=http://example.com"
            frameborder="0"></iframe>
           </a>
          {% elsif image.alt contains 'video' %}
          {% assign has_video = 1 %}
          {% assign my_video = image.alt | remove : 'video|' %}
          {% assign my_video_link = my_video | split : '|' | last %}
          {% assign alt_text = my_video | split : '|' | first %}
          <a id="js-featured-image" href="{{ my_video }}" class="slider-video">  
              <img class="product-single__thumbnail-image" id="ProductPhotoImg" src="{{ image | img_url: ''}}" data-zoom-image="{{ image.src | img_url: 'original' }}" alt="{{ image.alt | escape }}" style="display:none">
              <video width="100%" autoplay="" muted="" loop="" playsinline="" class="html_video" id="viddd_{{ image.id }}" data-img_src="{{ image.src | img_url: 'master' }}" data-img_tumb_src="{{ image.src | img_url: '77x77' }}"> 
              <source src="{{ my_video_link }}" type="video/mp4">
             </video>
           </a>
        {% else %}
         
         <a id="js-featured-image" 
           href="{% if image_zoom == 'lightbox' %}
             {{ image.src | img_url: 'master' }}
             {% else %}
             javascript:void(0)
           {% endif %}" 
           class="image-link main_img_{{ image.id }} my_img_hidden_main">
          <img class="product-single__thumbnail-image" id="ProductPhotoImg" src="{{ image | img_url: ''}}" data-zoom-image="{{ image.src | img_url: 'original' }}" alt="{{ image.alt | escape }}">
         </a>
      {% endif %}
   
  {%endfor%}
    </div>
 </div>
</div>

{% if image_zoom == 'lightbox' %}
<script>
$(document).ready(function(){
$('.desktop-product-img').magnificPopup({
  delegate: 'a',
  type: 'image',
  closeOnContentClick: true,
  closeBtnInside: false,
  fixedContentPos: true,
  mainClass: 'mfp-no-margins mfp-with-zoom js-featured-image',
  callbacks: {
    elementParse: function(item) {
      console.log(item.el[0].className);
    if(item.el[0].className == 'slider-video') {
        console.log(item.el[0].className);
        item.type = 'iframe';
      } else {
         item.type = 'image',
         item.tLoading = 'Loading image #%curr%...',
         item.mainClass = 'mfp-img-mobile',
         item.image = {
           tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
         }
      }
    }
    },
    gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0,1] // Will preload 0 - before current, and 1 after the current image
    }
  
});
  

});
</script>
{% endif %}

 