<div class="main-countdown-signup">

  <div class="date-time" style="display:none">{{ section.settings.date-time }}</div>

  <div class="logo-section">
    <img src="{{ section.settings.logo | img_url:'' }}">
  </div>

  <div class="countdown-section">

    <div class="container">
      <div id="countdown">
        <ul>
          <li><span id="days"></span>days</li>
          <li><span id="hours"></span>hours</li>
          <li><span id="minutes"></span>minutes</li>
          <li><span id="seconds"></span>seconds</li>
        </ul>
      </div>
      <div id="content" class="emoji">
        <span>🥳</span>
        <span>🎉</span>
        <span>🎂</span>
      </div>
    </div>    
  </div>

  <div class="content-section">

    <ul class="content-list">

      {% assign cblocks = section.blocks | where: 'type','text' %}
  
      {% for block in cblocks %}

      <li class="content-list-item">

        {{ block.settings.content-text }}
        
      </li>
        
      {% endfor %}
      
    </ul>   
    
  </div>

  <div class="link-section">

    <ul class="link-list">

       <li class="link-list-item active" id="subscribe">
        <a href="javascript:void(0)">{{ section.settings.early-btn-text }}</a>        
      </li>

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'link' -%}

             <li class="link-list-item">
              <a href="{{ block.settings.btn-link }}">{{ block.settings.btn-text }}</a>        
            </li>

         {%- when 'email' -%}

             <li class="link-list-item">
              <a href="mailto:{{ block.settings.email }}">{{ block.settings.email-text }}</a>        
            </li>
            
        {%- endcase -%}
      {% endfor %}    
      
    </ul>
    
  </div>

  <div class="subscribe-form-section" id="subscribe-form">
      <div class="form-heading">{{ section.settings.form-heading }}</div>
      <div class="form-description">{{ section.settings.form-description }}</div>    
      <form action="{{section.settings.klaviyo_form_action}}" method="post" id="email_signup" name="mc-embedded-subscribe-form" target="_blank" class="klaviyo_email_signup">
        <input type="hidden" name="g" value="{{ section.settings.list_id }}">
        <input type="hidden" name="a" value="{{ section.settings.list_id_a }}"> 
          
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="email@example.com" name="email" id="k_id_email" class="input-group-field email-field" aria-label="email@example.com" autocorrect="off" autocapitalize="off">
        <span class="input-group-btn">
          <button type="submit" class="btn klaviyo_submit_button" name="subscribe" id="subscribe">{{ section.settings.form-btn-text }}</button>
        </span>
        <span class="response-text" style="display:none;"></span>
      </form>       
    
      <div class="link-btn">
        <a href="{{ section.settings.btn-url }}">{{ section.settings.btn-label }}</a>        
      </div> 
    
      <div class="form-disclaimer">{{ section.settings.form-disclaimer }}</div>
      <div class="form-links">
        <div class="link-heading">{{ section.settings.link-heading }}</div>
        <a class="link_1" href="{{ section.settings.link_url_1 }}">{{ section.settings.link_text_1 }}</a>
        <span class="link-separator">{{ section.settings.link-separator }}</span>
         <a class="link_2" href="{{ section.settings.link_url_2 }}">{{ section.settings.link_text_2 }}</a>
      </div>

      <div class="klaviyo_messages">
        <div class="success_message" style="display:none;"></div>
        <div class="error_message" style="display:none;"></div>
      </div>
    
  </div>
 </div>

{% style %}
.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.main-countdown-signup li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.main-countdown-signup li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
 .main-countdown-signup li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  .main-countdown-signup li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

{% endstyle %}


<script>
  (function () {  

    const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    var dateTime = $('.date-time').text();
  
  const countDown = new Date(dateTime).getTime(),
      x = setInterval(function() {    

        const now = new Date().getTime(),
              distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
          document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        if (distance < 0) {
          document.getElementById("headline").innerText = "It's my birthday!";
          document.getElementById("countdown").style.display = "none";
          document.getElementById("content").style.display = "block";
          clearInterval(x);
        }
        //seconds
      }, 0)
  }());
</script>

<script>
  $(document).ready(function(){
    
    $('#subscribe').click(function(){       
      $('html, body').animate({
           scrollTop: $("#subscribe-form").offset().top - 130
      }, 1000);      
    }); 
    
  });
</script>

{% schema %}
  {
    "name": "Countdown Signup",
    "settings": [
      {
        "type":"image_picker",
        "id":"logo",
        "label":"Logo"        
      },
      {
        "type":"text",
        "id":"date-time",
        "label":"Countdown DateTime"        
      },
      {
        "type":"image_picker",
        "id":"desktop-banner-image",
        "label":"Desktop banner image"        
      },
      {
        "type":"image_picker",
        "id":"mobile-banner-image",
        "label":"Mobile banner image"        
      },
      {
        "type":"text",
        "id":"early-btn-text",
        "label":"Early access button label"        
      },
      {
        "type":"text",
        "id":"form-heading",
        "label":"Subsribe from heading"        
      },
      {
        "type":"richtext",
        "id":"form-description",
        "label":"Subsribe from description"        
      },
      {
        "type": "text",
        "id": "klaviyo_form_action",
        "label": "Klaviyo form action URL"
      },
      {
          "type":"text",
          "id":"list_id",
          "label":"List Id",
          "default":"NFvws3"
      },
      {
          "type":"text",
          "id":"list_id_a",
          "label":"List Id A",
          "default":"PBf6sH"
      },
      {
          "type":"text",
          "id":"form-btn-text",
          "label":"Klaviyo form button label"
      },
      {
          "type":"text",
          "id":"btn-label",
          "label":"Button label"         
      },
      {
          "type":"url",
          "id":"btn-url",
          "label":"Button link"
      },
      {
        "type":"richtext",
        "id":"form-disclaimer",
        "label":"Subsribe from disclaimer"        
      },
      {
          "type":"text",
          "id":"link-heading",
          "label":"Link heading"         
      },
      {
          "type":"text",
          "id":"link-separator",
          "label":"Link separator"         
      },
      {
          "type":"text",
          "id":"link_text_1",
          "label":"Link label 1"         
      },
      {
          "type":"url",
          "id":"link_url_1",
          "label":"Link url 1"         
      },
      {
          "type":"text",
          "id":"link_text_2",
          "label":"Link label 2"         
      },
      {
          "type":"url",
          "id":"link_url_2",
          "label":"Link url 2"         
      }
    ],
    "blocks":[
      {
        "type":"link",
        "name":"Link",
        "settings":[
          {
            "type":"text",
            "id":"btn-text",
            "label":"Button label"             
          },
          {
            "type":"url",
            "id":"btn-link",
            "label":"Button Link"             
          }          
        ]        
      },
      {
        "type":"text",
        "name":"Content",
        "settings":[
          {
            "type":"richtext",
            "id":"content-text",
            "label":"Content"             
          }       
        ]        
      },
      {
        "type":"email",
        "name":"Email",
        "settings":[
          {
            "type":"text",
            "id":"email-text",
            "label":"Label"             
          },
          {
            "type":"text",
            "id":"email",
            "label":"Email"             
          }           
        ]        
      }   
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}